<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>CategoryServlet</servlet-name>
        <servlet-class>vn.edu.fpt.controller.CategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>vn.edu.fpt.controller.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryTypeServlet</servlet-name>
        <servlet-class>vn.edu.fpt.controller.CategoryTypeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>vn.edu.fpt.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>vn.edu.fpt.controller.ProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VoucherServlet</servlet-name>
        <servlet-class>vn.edu.fpt.controller.VoucherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>vn.edu.fpt.controller.OrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryServlet</servlet-name>
        <url-pattern>/category</url-pattern>
        <url-pattern>/list-category</url-pattern>
        <url-pattern>/new-category</url-pattern>
        <url-pattern>/edit-category</url-pattern>
        <url-pattern>/view-category</url-pattern>
        <url-pattern>/delete-category</url-pattern>
        <url-pattern>/create-category</url-pattern>
        <url-pattern>/update-category</url-pattern>
        <url-pattern>/update-category-status</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryTypeServlet</servlet-name>
        <url-pattern>/category-type</url-pattern>
        <url-pattern>/list-category-type</url-pattern>
        <url-pattern>/new-category-type</url-pattern>
        <url-pattern>/edit-category-type</url-pattern>
        <url-pattern>/view-category-type</url-pattern>
        <url-pattern>/create-category-type</url-pattern>
        <url-pattern>/update-category-type</url-pattern>
        <url-pattern>/update-category-type-status</url-pattern>
        <url-pattern>/delete-category-type</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/product</url-pattern>
        <url-pattern>/list-product</url-pattern>
        <url-pattern>/create-product</url-pattern>
        <url-pattern>/edit-product</url-pattern>
        <url-pattern>/new-product</url-pattern>
        <url-pattern>/update-product</url-pattern>
        <url-pattern>/delete-product</url-pattern>
        <url-pattern>/update-product-status</url-pattern>
        <url-pattern>/all-product</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>VoucherServlet</servlet-name>
        <url-pattern>/new-voucher</url-pattern>
        <url-pattern>/edit-voucher</url-pattern>
        <url-pattern>/view-voucher</url-pattern>
        <url-pattern>/delete-voucher</url-pattern>
        <url-pattern>/list-voucher</url-pattern>
        <url-pattern>/create-voucher</url-pattern>
        <url-pattern>/update-voucher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/list-order</url-pattern>
        <url-pattern>/edit-order</url-pattern>
        <url-pattern>/update-order-status</url-pattern>
        <url-pattern>/cancel-order</url-pattern>
        <url-pattern>/view-order</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>
